<ion-header collapse="fade" class="header-custom">
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="2" class="header">
          <ion-avatar
            class="miniAvatar"
            routerLink="/user"
            routerDirection="forward"
          >
            <ion-img
              src="https://ionicframework.com/docs/img/demos/avatar.svg"
            ></ion-img>
          </ion-avatar>
        </ion-col>
        <ion-col size="8" class="header centerheader-col">
          <img
            class="centerheader"
            src="../../assets/fontbolt2.png"
            alt="Logo"
          />
        </ion-col>
        <ion-col size="2" class="header"
          ><ion-button
            size="small"
            fill="clear"
            routerLink="/search"
            routerDirection="forward"
            ><ion-icon color="danger" name="search"></ion-icon></ion-button
        ></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content class="content-custom">
  <div class="discover-container">
    <ion-refresher
      slot="fixed"
      [pullFactor]="0.5"
      [pullMin]="100"
      [pullMax]="200"
      (ionRefresh)="handleRefresh($event)"
    >
      <ion-refresher-content
        pullingIcon="arrow-down"
        refreshingSpinner="circles"
        pullingText="Pull to refresh"
        refreshingText="Refreshing..."
      >
      </ion-refresher-content>
    </ion-refresher>

    <!-- Sección: Popular Series -->

    <ion-label class="section-title">POPULAR SERIES</ion-label>

    <ion-segment scrollable class="no-indicator" value="disabled">
      <ion-segment-button
        *ngFor="let serie of series"
        class="S_cart"
        (click)="goToSerie(serie.idApi)"
      >
        <ion-img
          class="S_frontpage"
          [src]="serie.poster"
          alt="Serie Poster"
        ></ion-img>
        <ion-label>
          <p class="S_page">{{ serie.name }}</p>
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-segment-button>
    </ion-segment>

    <!-- Sección: Popular Movies -->

    <ion-label class="section-title">POPULAR MOVIES</ion-label>

    <ion-segment scrollable>
      <ion-segment-button
        *ngFor="let movie of movies"
        class="S_cart ripple-parent"
        (click)="goToMovie(movie.idApi)"
      >
        <ion-img
          class="S_frontpage"
          [src]="movie.poster"
          alt="Movie Poster"
        ></ion-img>
        <ion-label>
          <p class="S_page">{{ movie.title }}</p>
        </ion-label>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-segment-button>
    </ion-segment>

    <!-- Sección: Trending -->
    <div class="section-container">
      <ion-label class="section-title">TRENDING MEDIA</ion-label>

      <!-- Filtro dentro de la sección Trending -->
      <ion-segment
        [(ngModel)]="selectedFilter"
        (ionChange)="applyFilter($event)"
        class="trending-filter"
      >
        <ion-segment-button value="movies">
          <ion-label>Movies</ion-label>
        </ion-segment-button>
        <ion-segment-button value="series">
          <ion-label>Series</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-grid>
        <ion-row>
          <ion-col
            size="6"
            *ngFor="let media of filteredMedias"
            (click)="goToMedia(media.idApi, media.type)"
          >
            <ion-card class="media-card">
              <ion-img
                [src]="media.poster"
                alt="Media Poster"
                class="media-poster"
              ></ion-img>
              <ion-chip class="media-chip"
                >{{ media.type | uppercase }}</ion-chip
              >
              <ion-card-content class="media-content">
                <ion-label class="media-title"
                  >{{ media.title || media.name }}</ion-label
                >
                <ion-label class="media-overview">
                  {{ truncateText(media.overview, 100) }}
                </ion-label>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
