/* Centrar el contenido y establecer el fondo */
ion-content {
  --background: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* Estilos para la tarjeta */
ion-card {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background: var(--background-light);
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Estilos para el input */
.input-style {
  background-color: black;
  font-size: 16px;
  color: white;
  text-align: left;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  width: 100%;
}

/* Estilos para el botón */
.button-style {
  --background: var(--primary-color);
  --color: var(--text-color);
  font-weight: bold;
  border-radius: 5px;
  margin-top: 1rem;
}

/* Estilos para el título y subtítulo */
ion-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
}

ion-card-subtitle {
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 0.5rem;
}