<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-end">
      <ion-col size="2">
        <ion-button fill="clear" routerLink="/login" routerDirection="back"
          ><ion-icon size="large" color="danger" name="arrow-back"></ion-icon
        ></ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Verification</ion-card-title>
      <ion-card-subtitle
        >Enter the security code sent to your email</ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <form (submit)="validate()">
        <ion-input
          fill="outline"
          placeholder="Enter code"
          class="input-style"
          [(ngModel)]="code"
        ></ion-input>
        <ion-button expand="full" class="button-style">Verify</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
