<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-style">Welcome Back</div>
    <form (submit)="login()">
      <ion-item>
        <ion-input
          [(ngModel)]="existingUser.userInfo"
          type="email"
          name="userInfo"
          label="E-mail/Username"
          placeholder="Enter your email"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="existingUser.password"
          type="password"
          name="password"
          label="password"
          placeholder="Enter your password"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" class="button-style" type="submit"
        >Log In</ion-button
      >
    </form>

    <div class="sign-up-style">
      Don't have an account?
      <ion-button fill="clear" routerLink="/signup" routerDirection="forward"
        >Sign Up</ion-button
      >
    </div>
  </div>
</ion-content>
