<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-style">Welcome Back</div>

    <form (submit)="login()">
      <ion-item>
        <ion-input
          [(ngModel)]="existingUser.userInfo"
          type="email"
          name="userInfo"
          label="E-mail/Username"
          placeholder="Enter your email"
          labelPlacement="floating"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          [(ngModel)]="existingUser.password"
          label="Password"
          name="password"
          placeholder="Enter your password"
          labelPlacement="floating"
          [type]="showPassword ? 'text' : 'password'"
        ></ion-input>
        <ion-button
          fill="clear"
          slot="end"
          (click)="togglePasswordVisibility()"
        >
          <ion-icon
            class="custom-icon"
            [name]="showPassword ? 'eye-off' : 'eye'"
          ></ion-icon>
        </ion-button>
      </ion-item>

      <ion-button expand="block" class="button-style" type="submit"
        >Log In</ion-button
      >
    </form>

    <div class="login-style">
      Don't have an account?
      <ion-button fill="clear" routerLink="/signup" routerDirection="forward">
        Sign Up
      </ion-button>
    </div>

    <!-- <div class="sign-up-style">
      <ion-button
        fill="clear"
        routerLink="/verification"
        routerDirection="forward"
      >
        Verification
      </ion-button>
    </div> -->

    <div class="login-style">
      <ion-button
        fill="clear"
        routerLink="/sendverification"
        routerDirection="forward"
        expand="block"
      >
        I forgot my password
      </ion-button>
    </div>
  </div>
</ion-content>
