<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-end">
      <ion-col size="2">
        <ion-button fill="clear" routerLink="/login" routerDirection="back">
          <ion-icon size="large" color="danger" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Change Password</ion-card-title>
      <ion-card-subtitle>
        Enter and confirm your new password
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (submit)="changePassword()">
        <!-- New Password -->
        <ion-item>
          <ion-input
            placeholder="Enter your new password"
            [type]="showPassword1 ? 'text' : 'password'"
            [(ngModel)]="password1"
            name="password1"
            class="input-style"
          ></ion-input>
          <ion-button
            fill="clear"
            slot="end"
            (click)="togglePasswordVisibility(1)"
          >
            <ion-icon
              class="custom-icon"
              [name]="showPassword1 ? 'eye-off' : 'eye'"
            ></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item>
          <ion-input
            placeholder="Confirm your new password"
            [type]="showPassword2 ? 'text' : 'password'"
            [(ngModel)]="password2"
            name="password2"
            class="input-style"
          ></ion-input>
          <ion-button
            fill="clear"
            slot="end"
            (click)="togglePasswordVisibility(2)"
          >
            <ion-icon
              class="custom-icon"
              [name]="showPassword2 ? 'eye-off' : 'eye'"
            ></ion-icon>
          </ion-button>
        </ion-item>

        <!-- Submit Button -->
        <ion-button
          expand="full"
          class="button-style"
          type="submit"
          [disabled]="isLoading"
        >
          {{ isLoading ? 'Changing...' : 'Change Password' }}
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
