<ion-toolbar color="undefine">
  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col></ion-col>
      <ion-col size="3"
        ><ion-button
          class="skip"
          color="viewer_secundary"
          id="open-toast"
          size="small"
          routerLink="/tabs/discover"
          routerDirection="forward"
          >skip</ion-button
        >
        <ion-toast
          trigger="open-toast"
          message="We recommend logging in for the full experience."
          [duration]="5000"
        ></ion-toast>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>

<ion-content class="ion-padding ion-text-center" [fullscreen]="true">
  <div class="container">
    <div class="page-header">
      <img src="../../assets/fontbolt2.png" />
      <img src="../../assets/fontbolt.png" />
    </div>

    <div class="button-container">
      <ion-button
        class="joinbtn"
        expand="block"
        color="viewer_secundary"
        routerLink="/login"
        routerDirection="forward"
        >Log in</ion-button
      >
      <ion-button
        class="signupbtn"
        expand="block"
        color="viewer_secundary"
        routerLink="/signup"
        routerDirection="forward"
        >Signup</ion-button
      >
    </div>
  </div>
</ion-content>
